<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Team23_EmailAttachments">
        <sequence>
            <module name="Magento_Email"/>
            <module name="Team23_EmailAttachmentsApi"/>
        </sequence>
    </module>
</config>
